{% extends 'Base/base.html' %}
{%block start%}

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <section class="vh-100" style="background-color: #508bfc;">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                  <div class="card-body p-5 text-center">
        
                    <h3 class="mb-5">Sign in</h3>
        
                    <div class="form-outline mb-4">
                      <input type="email" id="typeEmailX-2" class="form-control form-control-lg" />
                      <label class="form-label" for="typeEmailX-2">Email</label>
                    </div>
        
                    <div class="form-outline mb-4">
                      <input type="password" id="typePasswordX-2" class="form-control form-control-lg" />
                      <label class="form-label" for="typePasswordX-2">Password</label>
                    </div>
        
                   
                    <div class="form-check d-flex justify-content-start mb-4">
                      <input class="form-check-input" type="checkbox" value="" id="form1Example3" />
                      <label class="form-check-label" for="form1Example3"> Remember password </label>
                    </div>
        
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
        
                    <hr class="my-4">
        
                    <button class="btn btn-lg btn-block btn-primary" style="background-color: #dd4b39;"
                      type="submit"><i class="fab fa-google me-2"></i> Sign in with google</button>
                    <button class="btn btn-lg btn-block btn-primary mb-2" style="background-color: #3b5998;"
                      type="submit"><i class="fab fa-facebook-f me-2"></i>Sign in with facebook</button>
        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->






    <div class="main-wrap">
      <div class="outer-wrap">
        <h1>Log in</h1>
        <hr>
        <div class="social-login">
          <a href="#">
            <img src="images/fb.png" alt="">
          </a>
          <a href="#">
            <img src="images/google.png" alt="">
          </a>
          <a href="#">
            <img src="images/twitter.png" alt="">
          </a>
        </div>
        <p>or use your email</p>
    
        <form method="post" action="{%url 'user-login'%}" class="form" >
          {% csrf_token %}
          
          <label for="email">Email</label>
          <br>
          <input type="email" name="email" id="email" placeholder="Email">
          <br>
          <label for="password">Password</label>
          <br>
          <input type="password" name="password" id="password" placeholder="Password">
          <br>
          <!-- <input type="checkbox" name="check" id="check"> -->
          <!-- <span class="rm-me">Remember Me</span> -->
          <!-- <a href="#" class="fg-pa">Forgot Password?</a> -->
          <br>
          <button type="submit" class="btn">Log in</button>
        </form>
        <!-- <div class="terms">
          <a href="#">Privacy Policy</a>
          <a href="#">Terms & Conditions</a>
        </div> -->
      </div>
    </div>
{%endblock%}