{% extends 'Base/base.html' %}
{%block start%}
<div class="row my-2">
{%for user in users%}
{%if not user.is_superuser %}


    <div class="col-sm-4 my-2" style="width: 18rem;">
      <div class="card mx-2" >
        <!-- <div class="card-body">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div> -->

        <img class="img-fluid" style="height: 18rem;" src="{{user.profile_image}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{user.name}}</h5>
            <p class="card-text">Details to be shown.</p>
            <a href="#" class="btn btn-primary">View Profile</a>
        </div>
      </div>
    </div>



{%endif%}
{%endfor%}
</div>
{%endblock%}